<div>
  <div class="text-center">
    <h2 class="text-2xl">{{page.title}}</h2>
  </div>
  <div style="" class="mt-10 bg-white mx-auto w-80 border-2 rounded drop-shadow-xl">                
    <img src="{{ page.metafield.photos[0] }}"/>
  </div>
  <div class="mt-10 mx-5 lg:w-3/4 lg:mx-auto text-gray-600">
    {{page_content }}
  </div>
  
  <div class="flex flex-wrap justify-between mt-10 mx-5 lg:w-3/4 lg:mx-auto text-gray-600">
    {% for photo_url in page.metafield.photos %}
      <div class="w-80 rounded py-6">
        <a href="{{ photo_url }}" target="_blank"><img src="{{ photo_url }}"/></a>
      </div>
    {% endfor %}
  </div>
</div>
